[Service]
ExecStart=/usr/bin/python /home/pi/RetroButtons/scripts/power.py
WorkingDirectory=/home/pi/RetroButtons/scripts/
Rstart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=powerbtn
User=root
Group=root

[Install]
WantedBy=multi-user.target
